# Copy this file to /lib/systemd/system/of-framectrl.service then run
# sudo systemctl enable systemd-networkd-wait-online.service
# sudo systemctl enable of-framectrl
# sudo reboot
[Unit]
Description=Openframe Frame Controller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=maebi
PIDFile=/run/offramectrl.pid
EnvironmentFile=/home/maebi/.openframe/.env
Environment="DEBUG=*"
Environment="SERVICE=true"
ExecStart=/usr/local/bin/openframe

[Install]
WantedBy=multi-user.target
