# Copy this file to /lib/systemd/system/of-framectrl.service then run
# sudo systemctl enable systemd-networkd-wait-online.service
# sudo systemctl enable of-framectrl
# sudo reboot
[Unit]
Description=Openframe Frame Controller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=maebi
PIDFile=/run/offramectrl.pid
EnvironmentFile="~/.openframe/.env"
Environment="PATH=/home/maebi/.nvm/versions/node/v14.18.1/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games"
Environment="DEBUG=*"
Environment="SERVICE=true"
WorkingDirectory=/home/maebi/.nvm/versions/node/v14.18.1/bin/
ExecStart=/usr/local/bin/openframe

[Install]
WantedBy=multi-user.target
